#header{padding:25px 0;width:100%;background-color:gray;text-align:center;font-size:25px;}
#body{height:600px;width:100%;background-color:#fff;text-align:center;font-size:25px;}
#footer{height:100px;width:100%;background-color:black;color:#fff;text-align:center;font-size:25px;}
#logo{max-width: 300px;height:auto;border:0;}